{% extends 'base.html' %}

{% block content %}

    <div class="wrapper">
        <div class="container">

            {% if user.is_authenticated %}
            <a href="{% url 'l24ogout' %}">로그아웃</a>
            <h3>{{ request.user.username }}</h3>
            {% else %}

            <div style="width: 50rem; align-self: right;">
            <a href="{% url 'signup' %}" class="btn btn-primary mt-3 mb-3">회원가입</a>
            </div></button>
            <form method="POST" action="{% url 'signin' %}">
                {% csrf_token %}
                {{ signin_form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>

            {% endif %}

        </div>
    </div>
{% endblock %}
