
<!DOCTYPE html>

{% load static %}

<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YesShow - 식당 예약권 양도 중개 서비스</title>
  
  <link rel="stylesheet" href="{% static 'content/css/main.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'main' %}">YesShow</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="#">예약권 올리기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">전체 예약권 보기</a>
          </li>
        </ul>
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="btn btn-primary my-2" >LOGOUT</a>
          {% else %}
          <a href="{% url 'signin'%}" class="btn btn-primary my-2">LOGIN</a>
          <a href="{% url 'signup'%}" class="btn btn-secondary my-2">SignUp</a>
          {% endif %}
        </li>
      </div>
    </nav>
    
     
      

        <!-- <section class="jumbotron text-center">        
          <div class="container" style="position: relative;">
            <h1 class="jumbotron-heading">YesShow</h1>
            <p class="lead text-muted"><strong>식당 예약권 양도 중개 서비스</strong><br></p>
            <p>
              <a href="#" class="btn btn-primary my-2">예약권 양도하기</a>
              <a href="#" class="btn btn-secondary my-2">전체 예약권 보기</a>
            </p>
          </div>
        </section> -->


    <div class="bg_01">
      <div class="text_01">
          YesShow
          <br>
          <p style="font-size: 4vmin;">식당 예약권 양도 중개 서비스</p>
          <p>
            <a href="#" class="btn btn-primary my-2">예약권 양도하기</a>
            <a href="#" class="btn btn-secondary my-2">전체 예약권 보기</a>
          </p>
        </div>
        <img src="static/img/cook.png" class="bg_01"/>
    </div>



      {% block content %}
      {% endblock %}
</body>      
