{% extends 'content/base.html' %}
{% load static %}
{% block content %}
<head>
  <script src="jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="{% static 'content/css/main.css' %}">
  <script src="http://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
  <script src="/js/jquery.flexslider.js"></script>
  <script src="/js/seo.js"></script>

</head>

<body>
  <div class="review_btn_wrap clear no-drag ">
    <li class=""><div class="icon_box"><img class="no-drag nover" src="/img/section4_icon1_hover.png" alt=""><img class="no-drag hover" src="/img/section4_icon1.png" alt=""></div><p class="pc_tag">기존 구매<br>재구매율 감소</p>
    <p class="mobile_tag">기존 구매 재구매율 감소</p>
  </li>
    <li class=""><div class="icon_box"><img class="no-drag hover" src="/img/section4_icon2.png" alt=""><img class="no-drag nover" src="/img/section4_icon2_hover.png" alt=""></div><p class="pc_tag">신규 고객<br>구매율 감소</p><p class="mobile_tag">신규 고객 구매율 감소</p></li>
    <li class=""><div class="icon_box"><img class="no-drag hover" src="/img/section4_icon3.png" alt=""><img class="no-drag nover" src="/img/section4_icon3_hover.png" alt=""></div><p class="pc_tag">반품 피해금액<br>발생</p><p class="mobile_tag">반품 피해금액 발생</p></li>
  </div>

</body>



{% endblock %}