

<h1>글 제목 : {{post.title}}</h1>
<p> 작성자 : {{post.writer}}</p>
<p> 상태 : {{post.status}}</p>
<p> 날짜 : {{post.date}}</p>
<p> 예약 가격 : {{post.reserve_price}}</p>
<p> 음식 가격 : {{post.food_price}}</p>
<p> 사람 수 : {{post.peopleone}}</p>
<p> 글 내용 : {{post.text}}</p>

<a href="{% url 'list' %}">홈으로</a>
<a href="{% url 'edit' post.id %}">수정</a>
<a href="{% url 'delete' post.id %}">삭제</a>


    


    <!---------- 시작 ------------->
    <form action = "{%url 'new_comment' post.id %}" method="POST">
        {% csrf_token %}
        <textarea name="text"></textarea>
        <button type="submit">작성하기</button>
    </form>
  
    

    {% if user.is_authenticated %} 
        {% for comment in comments %}
            {% if request.user == post.writer or request.user == comment.writer %}
                <div class = "댓글">
                    <div class="작성 날짜">{{comment.date}}</div>
                    <strong>{{comment.writer}}</strong>
                    <p>{{comment.phone_number}}</p>
                    <p>{{comment.text|linebreaks}}</p>

                    {% if request.user == comment.writer %}
                    <form action = "{%url 'del_comment' post.id %}" method="POST">
                        {% csrf_token %}
                        <input type = "submit" class="btn btn-dark" value="삭제"><br><br>
                    </form>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %} 
        <p>권한이 없습니다.</p>
    {% endif %}
    <!---------- 끝 ------------->