<!-- hello/templates/postnew.html -->
{% extends 'base.html' %}

{% block content %}


  <form action="{% url 'postupdate' post.id %}" method="POST">
    {% csrf_token %}
    <br>
    <div class="container">
        <div class="row">
            <table class="table table-striped" style="text-align : center; border :1px solid #dddddd">
                <thead>
                    <tr>
                        <th colspan="8" style="background-color : #1f1c1cd2; text-align:center; color:rgb(255, 255, 255);">수정하기 양식</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8"><input type="text" class="form-control" placeholder="글 제목" name="title" id="title" maxlength="50" value="{{ post.title }}"></td>
                    </tr>
                        <td>
                          <label for="status">상태</label><br>
                        </td>
                        <td>
                          <select name="status" id="status">
                            <option value="W">양도 대기</option>
                            <option value="C">양도 완료</option>
                            <option value="W">양도 진행중</option>
                          </select>
                        </td>
                        <td>
                          <label for="reserve_price">예약 가격</label><br>
                        </td>
                        <td>
                          <input type="number" name="reserve_price" id="reserve_price" class="form-control"  value="{{ post.reserve_price }}">
                        </td>
                        <td>
                          <label for="food_price">음식 가격</label><br>
                        </td>
                        <td>
                          <input type="number" name="food_price" id="food_price" class="form-control" value="{{ post.food_price }}">
                        </td>
                        <td>
                          <label for="people">사람 수</label><br>
                        </td>
                        <td>
                          <input type="number" name="people" id="people" class="form-control" value="{{ post.people }}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8"><textarea type="text" class="form-control" placeholder="글 내용" name="text" maxlength="2048" style="height:350px">{{post.text}}</textarea></td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="수정하기">
        </div>
    </div>
    
    
  </form>

  {% endblock %}
