<!-- hello/templates/postnew.html -->

<form action="{% url 'postcreate' %}" method="POST">
    {% csrf_token %}
    <div>
      <label for="title">제목</label><br>
      <input type="text" name="title" id="title">
    </div>
    <div>
      <label for="status">상태</label><br>
      <select name="status" id="status">
        <option value="W">양도 대기</option>
        <option value="C">양도 완료</option>
        <option value="W">양도 진행중</option>
      </select>
    </div>
    <div>
      <label for="reserve_price">예약 가격</label><br>
      <input type="number" name="reserve_price" id="reserve_price">
    </div>
    <div>
      <label for="food_price">음식 가격</label><br>
      <input type="number" name="food_price" id="food_price">
    </div>
    <div>
      <label for="people">사람 수</label><br>
      <input type="number" name="people" id="people">
    </div>
    <div>
      <label for="text">글 내용</label><br>
      <textarea name="text" id="text" cols="30" rows="5"></textarea>
    </div>



    <input type="submit" value="글쓰기">
  </form>